{
  "defaultConfig":{
    "buildType":"develop",
    "api":"CoreEngine",
    "libraryDir":"lib/"
  },
  "compile":[
    {
      "path":"main.js",
      "sourceType":"mod"
    },
    {
      "path":"launcher.js",
      "sourceType":"launcher"
    }
  ],
  "buildDirs":[
    {
      "targetSource":"main.js",
      "dir":"source/"
    }
  ],
  "resources":[
    {
      "path":"assets/",
      "resourceType":"resource"
    }
  ],
  "nativeDirs":[],
  "javaDirs": []
}